.container{
    max-width: 840px;
    margin: 0 auto;
}

.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid rgb(238, 238, 238);
    padding: 1.5rem 2.2rem;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.project p{
    margin-bottom: 1rem;
    color: #6B7280;
}

.info{
    text-align: left;
}

.buttons{
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}

.buttons a{
    padding: .5rem .8rem;
    border-radius: .4rem;
    gap: .3rem;

    display: flex;
    background-color: rgb(233, 233, 233);
    font-weight: normal;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    transition: ease .3s;

    &:hover{
        background-color: rgb(232, 222, 253);
        transition: ease .3s;
        transform: scale(1.05);
    }
}

.buttons p{
    margin: 3px 0 0 0;
}

.buttons img{
    max-width: 20px;
}

.project_img{
    display: flex;
    justify-content: end;
    align-items: center;
}


