.container{
    margin: 0 auto;
    padding-top: 2.5rem;

    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    
}

.container h2{
    text-align: left;
    margin: 0rem !important;
}

.section{
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 2rem;
    gap: .5rem;

}

.experience{
    max-width: 800px;
    margin: 0 auto;  
    text-align: left;
}

.experience h3{
    font-size: 1.2rem;
}

.point div{
    background-color: #FFB552;
}

@media (min-width:480px) {
    .container{
        max-width: 1100px;
        padding: 2.5rem 0 0 0;
    
        display: grid;
        grid-template-columns: 1fr 4fr;
        
    } 
}