.projects{
    margin-bottom: .5rem;
    padding: 0 1rem;
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
}

.section{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.portfolio img{
    width: 320px;
    border-radius: .5rem;
}

@media (min-width: 480px) {
    .projects{
        margin-bottom: 4rem;
        padding: 0;
    }
}