.landing{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 5rem;
}

.landing img{
    -webkit-box-shadow: 34px 74px 51px -93px rgba(0,0,0,1);
    -moz-box-shadow: 34px 74px 51px -93px rgba(0,0,0,1);
    box-shadow: 34px 74px 51px -93px rgb(226, 154, 19);
}

.header{
    text-align: end;
}

.header span{
    font-weight: bold;
    font-size: 2rem;
}

.title{
    font-size: 8rem;
    line-height: 6.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    font-weight: 900;
}

.welcome{
    margin-left: 15rem;
}

.socials{
    display: flex;
    gap: 1.5rem;
}

.socials a{
    width: 2rem;
    transition: ease .3s;

    &:hover{
        transform: scale(1.1);
        transition: ease .3s;
    }
    
}

.socials span{
    border-top: 2px solid rgb(238, 238, 238);
    width: 65%;
    margin-top: .5rem;
}