.landing{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 .5rem;
}

.profile img{
    max-width: 100%;
    padding: 0 2rem;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.header span{
    font-size: 1.6rem;
    margin: -.5rem 0 1rem 0;
}

.title{
    font-size: 2.2rem;
    font-weight: 900;
    padding-top: 1rem;
}

.socials{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 3rem 0;
}

.socials a{
    width: 1.7rem;
    transition: ease .3s;

    &:hover{
        transform: scale(1.1);
        transition: ease .3s;
    }
}

.socials span{
    display: none;
    border-top: 2px solid rgb(238, 238, 238);
    width: 65%;
    margin-bottom: .5rem;
}

.button{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: white;
    background-color: #323232;
    padding: .5rem .7rem;
    border-radius: .4rem;
    font-weight: normal;
    transition: ease .2s;
    font-size: 15px;
    width: fit-content;
    margin: 0 auto;

    &:hover{
        transition: ease .3s;
        transform: scale(1.05);
    }
}

.button a{
    padding: 0;
    margin: 0;
    text-align: center;
}

.button p{
    margin-top: 3px;
}

@media (min-width: 480px){
    .landing{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        margin-bottom: 5rem;
    }

    .profile img{
        padding: 0;
        -webkit-box-shadow: 34px 74px 51px -93px rgba(0,0,0,1);
        -moz-box-shadow: 34px 74px 51px -93px rgba(0,0,0,1);
        box-shadow: 34px 74px 51px -93px rgb(226, 154, 19);
    }


    
    .header span{
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
    }

    .title{
        font-size: 5rem;
        line-height: 4.5rem;
        margin-bottom: 0;
        padding-bottom: 1rem;
        margin-top: 1rem;
    }

    .socials{
        padding: 1rem- 0 1.5rem 0;
        gap: 1rem;
    }

    .socials span{
        display: none;
    }
    
    .socials a{
        width: 2rem;
    }
}

@media (min-width: 1024px){
    .landing{
        gap: 2.5rem;
    }
    .title{
        font-size: 8rem;
        line-height: 6.5rem;
        margin-bottom: 0;
        padding-bottom: 1rem;
        margin-top: 1rem;
    }

    .welcome{
        margin-left: 15rem;
    }

    .header{
        text-align: end;
        padding: 0;
    }

    .button{
        margin: 0 0 0 30rem;
    }

    .socials{
        padding: 0;
        gap: 1.5rem;
    }

    .socials span{
        display: block;
        margin-bottom: .9rem;
    }


}

@media (max-height: 800px) {
    .landing{
        padding-top: 3.5rem;
    }
    
}
