.navbar{
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
}

.background{
    background-color: rgba(248, 247, 243, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    padding: .9rem 1rem;
}

.header img{
    max-width: 30px;
    margin-right: .5rem;
}

.header h2{
    margin: 0;
    font-size: 1.2rem;
}

.header button{
    margin-right: 0;
    margin-left: auto;
}

.links{
    display: none;
    justify-content: center;
    gap: 5rem;
    padding: 1rem;
    
    
    border-top: 2px solid rgb(238, 238, 238);
    
    background-color: rgba(248, 247, 243, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.links a{
    transition: ease .2s;
    &:hover{
        color: #FFB552;
        transition: ease .2s;
    }
}

.mobile_links{
    display: none;
}

.show{
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    align-items: end;
}

@media (min-width: 480px){
    .header{
        padding: 1.2rem 0 .7rem 0;
        background-color: rgb(248, 247, 243);
    }
    
    .header img{
        max-width: 40px;
        margin-right: 75rem;
    }

    .header button{
        display: none;
    }
    
    .header h2{
        margin: .8rem 0;
        left: 50%;
        transform: translateX(-50%);
        
        position: absolute;
    }
    
    .links{
        display: flex;
    }
}