.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.about h2{
    font-weight: normal;
}
.content{
    text-align: start;
    font-size: 1.2rem;
}

.about span{
    font-weight: bold;
    font-style: italic;
    font-size: 1.3rem;
}