.container{
    margin: 0 auto;
    margin-bottom: 3rem;
}

.about{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0 1rem;
}
.about h2{
    text-align: left;
    margin: 0rem !important;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: .5rem;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 800px;
    margin: 0 auto;
    color: #6B7280;

}

.content h3{
    font-size: 1.9rem;
    color: #323232;
    font-weight: bold;
}

.content span{
    font-weight: bold;
    color: #FFB552;
}



.content p:last-child{
    font-weight: bold;
}

@media (min-width:480px) {
    .container{
        max-width: 1100px;
    }
    
    .about{
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 0;
    }
}