.container{
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 3rem;
}

.about{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 2rem;
}
.about h2{
    text-align: left;
    margin: 0rem !important;
}
.section{
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 2rem;
    gap: .5rem;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 800px;
    margin: 0 auto;
    color: #6B7280;

}

.content h3{
    font-size: 1.9rem;
    color: #323232;
    font-weight: bold;
}

.content span{
    font-weight: bold;
    color: #FFB552;
}

.content a p{
    margin-top: 3px;
}

.content p:last-child{
    font-weight: bold;
}

.button{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 1rem 2rem 0 auto;
    background-color: #323232;
    padding: .8rem;
    border-radius: .4rem;
    color: white;
    font-weight: normal;
    max-width: fit-content;
    line-height: 1;
}
