.footer{
    /* border: solid 2px rgb(238, 238, 238);
    border-radius: .7rem; */
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: .5rem;
    padding: 1rem 1rem 0rem 1rem;

}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.data a{
    text-decoration: none;
    font-weight: bold;
    transition: ease .3s;

    &:hover{
        color: #FFB552;
        transition: ease .3s;
    }
}

.data img{
    width: 2rem;
    margin-right: 1rem;
}
.socials{
    display: flex;
    gap: 1rem;
}

.socials a{
    width: 1.5rem;
}

.watermark{
    text-align: start;
    margin-top: 1rem;
    padding: 1rem;
    border-top: solid 2px rgb(238, 238, 238);
    color: #bbbfc9;
    
    font-style: italic;
}