p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle{
    display: flex;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    margin: 0 5rem 5rem auto;
}

.text{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: textRotate 10s linear infinite;
}
@keyframes textRotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.inner{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('../../assets/elements/arrow.svg');
    background-size: cover;
    border-radius: 50%;   
}
.text span {
    position: absolute;
    left: 50%;
    transform-origin: 0 75px;
    font-size: 1.2rem;
}