#root {
  text-align: center;
}

body{
  margin: 0;
  color: #323232;
}

a{
  font-weight: bold;
  color: #323232;
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323232;
  border: 3px solid rgb(248, 247, 243);
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}