@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Overpass";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #323232;
  background-color: rgb(248, 247, 243);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-weight: bold;
  font-size: 24px;
  margin: 2rem 0;
}
